body {
  .page-header,
  .page-header__logo,
  .screen--intro .screen__footer {
    opacity: 0;
  }

  .page-header {
    .page-header__menu a {
      &.active::after {
        width: 0;
      }
    }

    .page-header__logo {
      transform: translateX(-2rem);
    }
    
    .social-block__toggler::before {
      transform: translate(-50%, -50%) scale(0, 0);
    }
  }

  .screen {
    .screen__footer,
    .screen__disclaimer {
      transform: translateY(100%);
      transition: transform $show-footer-duration $time-function-normal-acceleration-and-slow-braking;
    }

    .line {
      display: block;
      overflow: hidden;
      position: relative;
      top: -0.2em;
    }
  
    .line + .line {
      top: -0.395em;
    }
    
    .char {
      display: inline-block;
      position: relative;
      vertical-align: sub;
      transform: translate3d(0, 1.1em, 0);
    }
  }

  .background-layer {
    position: absolute;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: $c-dark;
    transform-origin: bottom;
    transform: scale3d(1, 1, 1);
    z-index: 1;
    &.background-layer_initial {
      transform: scale3d(1, 0, 1);
    }
    &:not(.background-layer_initial) {
      transition: transform $show-background-layer-duration linear;
    }
  }
}

body.page-loaded {
  .page-header {
    transition: opacity $show-page-header-duration $time-function-normal-acceleration-and-slow-braking;
    transition-delay: $show-page-header-delay;
  }

  .page-header,
  .page-header__logo,
  .screen--intro .screen__footer {
    opacity: 1;
  }

  .page-header {
    .page-header__menu a {
      &.active::after {
        width: 100%;
        left: 0;
        right: auto;
        transition: width $show-nav-duration;
        transition-delay: $show-nav-delay;
      }
    }

    .page-header__logo {
      transform: translateX(0);
      transition: transform $show-logo-duration $time-function-normal-acceleration-and-slow-braking;
      transition-delay: $show-logo-delay;
    }
    
    .social-block__toggler::before {
      transform: translate(-50%, -50%) scale(1, 1);
      transition: transform $show-social-block-duration $time-function-with-flying-out;
      transition-delay: $show-social-block-delay;
    }
  }

  .screen {
    &.screen--intro {
      &.active {
        .intro__label {
          opacity: 1;
          transition: opacity $show-intro-label-duration ease $show-intro-label-delay;
        }
      }
      &:not(.active) {
        .intro__label {
          opacity: 0;
        }
      }
    }

    &.screen--story {
      .slider__control,
      .slider__pagination {
        animation-duration: $show-slider-controls-and-pagination-duration;
        animation-fill-mode: backwards;
        animation-delay: $show-next-slider-text-delay + $show-slider-text-duration / 3;
      }

      .slider__control {
        &:nth-child(1) {
          animation-name: moveSliderControlPrev, showSliderControlPrev;
          animation-timing-function: ease-out, linear;
        }
        &:nth-child(2) {
          animation-name: moveSliderControlNext, showSliderControlNextAndPagination;
          animation-timing-function: ease-out, linear;
        }
      }

      .slider__pagination {
        animation-name: showSliderControlNextAndPagination;
        animation-timing-function: ease-out, linear;
      }
    }

    &.screen--rules {
      .rules__item {
        p {
          opacity: 0;
          transform: translateX(2rem);
          animation-name: showBulletLabel;
          animation-fill-mode: forwards;
          animation-duration: $standart-duration;
        }

        &::before {
          content: '';
          transform: scale(0);
          animation-name: showBullet, showBulletText;
          animation-timing-function: $time-function-with-flying-out, ease;
          animation-fill-mode: forwards, forwards;
          animation-duration: $standart-duration, $standart-duration;
        }

        &:nth-child(1) {
          p {
            animation-delay: $show-rules-items-standart-delay;
          }

          &::before {
            animation-delay: 0;
          }
        }

        &:nth-child(2) {
          p {
            animation-delay: $show-rules-items-standart-delay * 2;
          }

          &::before {
            animation-delay: $show-rules-items-standart-delay;
          }
        }

        &:nth-child(3) {
          p {
            animation-delay: $show-rules-items-standart-delay * 3;
          }

          &::before {
            animation-delay: $show-rules-items-standart-delay * 2;
          }
        }

        &:nth-child(4) {
          p {
            animation-delay: $show-rules-items-standart-delay * 4;
          }

          &::before {
            animation-delay: $show-rules-items-standart-delay * 3;
          }
        }
      }

      .rules__link.btn {
        opacity: 0;
        color: transparent;
        animation-name: showButton, showButtonText;
        animation-duration: 0ms, 0ms;
        animation-fill-mode: forwards, forwards;
        animation-delay: $show-rules-items-standart-delay + $standart-duration * 3,
                         $show-rules-items-standart-delay + $standart-duration * 4;

        &::before {
          top: 50%;
          left: auto;
          right: 0;
          transform: translate(0, -50%);
          width: 33%;
          animation-name: transformButton;
          animation-duration: $standart-duration;
          animation-fill-mode: forwards;
          animation-delay: $show-rules-items-standart-delay + $standart-duration * 3;
        }
      }
    }

    &.active {
      .char {
        transform: translate3d(0, 0, 0);
        transition: transform $show-chars-from-bottom-to-top-duration ease-out;
      }
    }

    &.screen--result {
      &#result2 {      
        .result__image {
          position: relative;
          flex-grow: 1;

          img {
            position: absolute;
            object-fit: fill;
            object-position: 50% 50%;
            height: auto;
          }
        }

        &.screen--show {
          .result__image {
            &_leaf_blue_right {
              z-index: 2;
              max-width: 444px;
              width: 41%;
              animation-name: showLeafBlueRight;
              animation-duration: $show-leaf-blue-duration;
              animation-fill-mode: both;
              animation-delay: $change-screen-delay + $show-leaf-blue-delay;
            }

            &_leaf_blue_left {
              z-index: 2;
              max-width: 444px;
              width: 41%;
              animation-name: showLeafBlueLeft;
              animation-duration: $show-leaf-blue-duration;
              animation-fill-mode: both;
              animation-delay: $change-screen-delay + $show-leaf-blue-delay;
            }

            &_leaf_green {
              z-index: 3;
              max-width: 533px;
              width: 48%;
              animation-name: showLeafGrean;
              animation-duration: $show-leaf-green-duration;
              animation-fill-mode: both;
              animation-delay: $change-screen-delay + $show-leaf-green-delay;
            }

            &_suitcase {
              z-index: 4;
              max-width: 542px;
              width: 50.5%;
              animation-name: showSuitcase;
              animation-duration: $show-suitcase-duration;
              animation-fill-mode: both;
              animation-delay: $change-screen-delay;
            }

            &_flamingo {
              z-index: 5;
              max-width: 412px;
              width: 38%;
              animation: $show-flamingo-duration $change-screen-delay both showFlamingo,
                        $move-flamingo-duration linear ($show-flamingo-duration + $change-screen-delay) infinite alternate moveFlamingo;
            }
          }

          .form__field {
            opacity: 0;
            animation-name: showFormField;
            animation-duration: $show-form-field-duration;
            animation-fill-mode: forwards;
            animation-delay: $change-screen-delay + $show-form-field-delay;
          }

          .form__field::placeholder {
            animation-name: showFormFieldPlaceholder;
            animation-duration: $show-form-field-duration;
            animation-fill-mode: both;
            animation-delay: $change-screen-delay + $show-form-field-delay;
          }

          .form__button {
            animation-name: showFormButton;
            animation-duration: $show-form-button-duration;
            animation-fill-mode: both;
            animation-delay: $change-screen-delay + $show-form-button-delay;
          }


          @media (orientation: portrait) {
            .form__field {
              animation-name: showFormFieldPortrait;
            }

            .result__image {
              left: 0;
              right: 0;
            }
          }
        }
      }

      &#result3 {
        &.screen--show {
          .result__button, .result__button span {
            animation-duration: $show-negative-result-button-duration;
            animation-fill-mode: backwards;
            animation-delay: $change-screen-delay + $show-negative-result-button-delay;
          }
          .result__button {
            animation-name: showNegativeResultButton;
            animation-timing-function: linear;
            span {
              animation-name: moveNegativeResultRepeatButton;
              animation-timing-function: ease-out;
            }
          }
        }
      }
    }

    &.active .screen__footer,
    &.active .screen__disclaimer,
    .screen__footer:has(.screen__footer-wrapper_hidden),
    .screen__disclaimer:has(.disclaimer_hidden) {
      transform: translateY(0);
    }

    &:not(.active) .screen__footer:not(:has(.screen__footer-wrapper_hidden)),
    &:not(.active) .screen__disclaimer:not(:has(.disclaimer_hidden)) {
      transform: translateY(100%);
    }

    &.screen--prizes .screen__footer-wrapper,
    &.screen--rules .disclaimer ul {
      transition: opacity $change-screen-delay ease;
    }

    &.screen--prizes .screen__footer-wrapper_hidden,
    &.screen--rules .disclaimer_hidden ul {
      opacity: 0;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      &:not(.active) .screen__footer,
      &:not(.active) .screen__disclaimer {
        transform: translateY(100%);
      }
      &.screen--prizes .screen__footer-wrapper_hidden,
      &.screen--rules .disclaimer_hidden ul {
        opacity: 1;
      }

      .screen__footer.screen__footer--full {
        animation-name: showMobileFooter;
        animation-duration: $show-mobile-footer-duration;
        animation-fill-mode: both;
      }

      .screen__footer.screen__footer--full .screen__footer-wrapper {
        animation-name: showMobileFooterText;
        animation-delay: $show-mobile-footer-text-delay;
        animation-duration: $show-mobile-footer-text-duration;
        animation-fill-mode: both;
      }
    }
  }

  &.color-theme_rich_purple_blue {
    .page-header__menu a:hover,
    .social-block__toggler:hover,
    .social-block__toggler:focus,
    .social-block__link:hover,
    .slider__control:focus,
    .slider__control:hover {
      color: $rich-purple-blue;
    }

    .social-block__toggler:focus::before,
    .social-block__toggler:active::before,
    .slider__control:focus::before,
    .slider__control:active::before,
    .slider__control:active:focus::before {
      border-color: $rich-purple-blue;
    }
    
    .page-header__menu a:hover::after,
    .social-block__toggler:active::before,
    .slider__control:active::before,
    .slider__control:active:focus::before {
      background-color: $rich-purple-blue;
    }

    .social-block__toggler:active,
    .social-block__toggler:active:focus,
    .slider__control:active,
    .slider__control:active:focus {
      color: $c-light;
    }

    .social-block__toggler,
    .slider__control {
      color: $c-purple;
    }
  }

  &.color-theme_royal_blue {
    .page-header__menu a:hover,
    .social-block__toggler:hover,
    .social-block__toggler:focus,
    .social-block__link:hover,
    .slider__control:focus,
    .slider__control:hover {
      color: $royal-blue;
    }

    .social-block__toggler:focus::before,
    .social-block__toggler:active::before,
    .slider__control:focus::before,
    .slider__control:active::before,
    .slider__control:active:focus::before {
      border-color: $royal-blue;
    }
    
    .page-header__menu a:hover::after,
    .social-block__toggler:active::before,
    .slider__control:active::before,
    .slider__control:active:focus::before {
      background-color: $royal-blue;
    }

    .social-block__toggler:active,
    .social-block__toggler:active:focus,
    .slider__control:active,
    .slider__control:active:focus {
      color: $c-light;
    }

    .social-block__toggler,
    .slider__control {
      color: $light-blue;
    }
  }

  &.color-theme_light_blue {
    .page-header__menu a:hover,
    .social-block__toggler:hover,
    .social-block__toggler:focus,
    .social-block__link:hover,
    .slider__control:focus,
    .slider__control:hover {
      color: $light-blue;
    }

    .social-block__toggler:focus::before,
    .social-block__toggler:active::before,
    .slider__control:focus::before,
    .slider__control:active::before,
    .slider__control:active:focus::before {
      border-color: $light-blue;
    }
    
    .page-header__menu a:hover::after,
    .social-block__toggler:active::before,
    .slider__control:active::before,
    .slider__control:active:focus::before {
      background-color: $light-blue;
    }

    .social-block__toggler:active,
    .social-block__toggler:active:focus,
    .slider__control:active,
    .slider__control:active:focus {
      color: $c-light;
    }

    .social-block__toggler,
    .slider__control {
      color: $royal-blue;
    }
  }
}

@keyframes showBullet {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes showBulletText {
  from, 33% {
    content: '';
  }
  to {
    content: counter(li);
  }
}

@keyframes showBulletLabel {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes showButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transformButton {
  from {
    width: 33%;
  }
  to {
    width: 100%;
  }
}

@keyframes showButtonText {
  from {
    color: transparent;
  }
  to {
    color: #5f458c;
  }
}

@keyframes showLeafBlueRight {
  from {
    opacity: 0;
    transform: translate3d(38%, -26%, 0) rotate3d(0, 0, 1, -20deg);
  }
  13% {
    opacity: 1;
  }
  15% {
    transform: translate3d(49%, -6%, 0) rotate3d(0, 0, 1, 10deg);
  }
  36% {
    transform: translate3d(48%, -15%, 0) rotate3d(0, 0, 1, -7deg);
  }
  55% {
    transform: translate3d(49%, -7%, 0) rotate3d(0, 0, 1, 3deg);
  }
  77% {
    transform: translate3d(49%, -11%, 0) rotate3d(0, 0, 1, -0.6deg);
  }
  to {
    transform: translate3d(49%, -10%, 0);
  }
}

@keyframes showLeafBlueLeft {
  from {
    opacity: 0;
    transform: translate3d(-62.5%, -4.5%, 0) rotate3d(0, 0, 1, 45deg);
  }
  14% {
    opacity: 1;
  }
  21% {
    transform: translate3d(-71.5%, 35.5%, 0) rotate3d(0, 0, 1, -15deg);
  }
  44% {
    transform: translate3d(-73.5%, 18.5%, 0) rotate3d(0, 0, 1, 10deg);
  }
  61% {
    transform: translate3d(-72.5%, 33.5%, 0) rotate3d(0, 0, 1, -7deg);
  }
  85% {
    transform: translate3d(-73.5%, 26.5%, 0) rotate3d(0, 0, 1, 3deg);
  }
  to {
    transform: translate3d(-73.5%, 27.5%, 0);
  }
}

@keyframes showLeafGrean {
  from {
    opacity: 0;
    transform: translate3d(32%, 4%, 0) rotate3d(0, 0, 1, -20deg);
  }
  14% {
    opacity: 1;
    transform: translate3d(42%, 56%, 0) rotate3d(0, 0, 1, 10deg);
  }
  40% {
    transform: translate3d(38%, 24%, 0) rotate3d(0, 0, 1, -8deg);
  }
  60% {
    transform: translate3d(41%, 47%, 0) rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: translate3d(39%, 33%, 0) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: translate3d(40%, 38%, 0);
  }
}

@keyframes showSuitcase {
  from {
    transform: translate3d(-41.5%, 77%, 0) scale3d(0, 0, 0);
  }
  55% {
    transform: translate3d(-7.5%, -15%, 0) scale3d(1.3, 1.3, 1.3);
  }
  to {
    transform: translate3d(-10.5%, 5%, 0);
  }
}

@keyframes showFlamingo {
  from {
    opacity: 0;
    transform: translate3d(-41.5%, 100%, 0) rotate3d(0, 0, 1, -20deg);
  }
  to {
    opacity: 1;
    transform: translate3d(-41.5%, 21.5%, 0);
  }
}

@keyframes moveFlamingo {
  50% {
    transform: translate3d(-39%, 16.5%, 0) rotate3d(0, 0, 1, 6deg);
  }
  to {
    transform: translate3d(-42%, 25.5%, 0) rotate3d(0, 0, 1, -1.5deg);
  }
}

@keyframes showFormButton {
  from {
    color: transparent;
    opacity: 0;
  }
  33% {
    color: transparent;
    opacity: 1;
  }
  to {
    color: #5f458c;
  }
}

@keyframes showFormField {
  from {
    opacity: 1;
    width: 6rem;
    padding: 0;
  }
  to {
    opacity: 1;
    padding: 0 5.6rem;
    width: calc(100% - 31rem);
  }
}

@keyframes showFormFieldPortrait {
  from {
    opacity: 1;
    width: 6rem;
    padding: 0;
  }
  to {
    opacity: 1;
    padding: 0 5.6rem;
    width: calc(100% - 5rem);
  }
}

@keyframes showFormFieldPlaceholder {
  from {
    opacity: 0;
  }
  68% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveSliderControlPrev {
  from {
    transform: translate3d(-6rem, 0, 0) rotate3d(0, 0, 1, -135deg);
  }
  20% {
    transform: translate3d(-4rem, 0, 0) rotate3d(0, 0, 1, -90deg);
  }
  50% {
    transform: translate3d(-2rem, 0, 0) rotate3d(0, 0, 1, -45deg);
  }
}

@keyframes moveSliderControlNext {
  from {
    transform: translate3d(6rem, 0, 0) rotate3d(0, 0, 1, 135deg);
  }
  20% {
    transform: translate3d(4rem, 0, 0) rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: translate3d(2rem, 0, 0) rotate3d(0, 0, 1, 45deg);
  }
}

@keyframes showSliderControlNextAndPagination {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes showSliderControlPrev {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes moveNegativeResultRepeatButton {
  from {
    transform: translate3d(5rem, 0, 0) rotate3d(0, 0, 1, 101.25deg);
  }
  20% {
    transform: translate3d(4rem, 0, 0) rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: translate3d(2rem, 0, 0) rotate3d(0, 0, 1, 45deg);
  }
}

@keyframes showNegativeResultButton {
  from {
    opacity: 0;
  }
  83% {
    opacity: 1;
  }
}

@keyframes showMobileFooter {
  from {
    transform: translate3d(-100%, 18rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes showMobileFooterText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
