$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$rich-purple-blue: #5f458c;
$royal-blue: #4e5eed;
$light-blue: #94bff7;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$time-function-normal-acceleration-and-slow-braking: cubic-bezier(.5,0,0,1);
$time-function-with-flying-out: cubic-bezier(.5,0,.5,1.5);

$standart-duration: 300ms;
$show-logo-duration: 300ms;
$show-nav-duration: 300ms;
$show-footer-duration: 300ms;
$show-social-block-duration: 300ms;
$show-background-layer-duration: 300ms;
$show-page-header-duration: 300ms;
$show-intro-message-duration: 300ms;
$show-chars-from-bottom-to-top-duration: 700ms;
$change-width-input-field-duration: 300ms;
$show-nav-underline-duration: 300ms;
$show-social-block-item-duration: 300ms;
$show-slider-text-duration: 300ms;
$show-intro-label-duration: 300ms;
$show-leaf-blue-duration: 1733ms;
$show-leaf-green-duration: 1700ms;
$show-suitcase-duration: 433ms;
$show-flamingo-duration: 333ms;
$move-flamingo-duration: 2666ms;
$show-form-field-duration: 533ms;
$show-form-button-duration: 300ms;
$show-slider-controls-and-pagination-duration: 333ms;
$show-negative-result-button-duration: 333ms;
$show-mobile-footer-duration: $standart-duration;
$show-mobile-footer-text-duration: $standart-duration;

$standart-delay: 100ms;
$change-screen-delay: $show-background-layer-duration;
$show-logo-delay: 100ms;
$show-nav-delay: 400ms;
$show-footer-delay: 100ms;
$show-social-block-delay: 300ms;
$show-page-header-delay: 200ms;
$show-rules-items-standart-delay: 200ms;
$show-prev-slider-text-delay: 300ms;
$show-next-slider-text-delay: 300ms;
$show-intro-message-delay: 400ms + $show-chars-from-bottom-to-top-duration;
$show-intro-label-delay: $show-intro-message-delay + $show-chars-from-bottom-to-top-duration;
$show-leaf-green-delay: 300ms;
$show-leaf-blue-delay: 200ms;
$show-form-field-delay: 533ms;
$show-form-button-delay: 366ms;
$show-negative-result-button-delay: 1133ms;
$show-mobile-footer-text-delay: $show-mobile-footer-duration;

:export {
    change-screen-delay: $change-screen-delay;
}
